.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 11px;
    height: 11px;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 10px;
    top: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }